[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/qihaichiaki/googletest.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/qihaichiaki/glfw.git
