[submodule "namica/vendor/glfw"]
	path = namica/vendor/glfw
	url = https://github.com/qihaichiaki/glfw
[submodule "namica/vendor/yaml-cpp"]
	path = namica/vendor/yaml-cpp
	url = https://github.com/qihaichiaki/yaml-cpp
[submodule "namica/vendor/glm"]
	path = namica/vendor/glm
	url = https://github.com/qihaichiaki/glm
[submodule "namica/vendor/imgui"]
	path = namica/vendor/imgui
	url = https://github.com/qihaichiaki/imgui
	branch = docking
